# Environment #
.env

# Private information #
etc

# macOS files #
.DS_Store

# Python bytecode files #
__pycache__/
*.pyc

# Distribution files #
dist/
build/
*.egg-info/

# IDE files #
.vscode/
.idea/

# Miscellaneous files #
*.log
*.swp
*.swo
*.bak